.header-text {
    text-align: center;
}
.form-align {
    justify-content: space-around;
}
.card-header-style {
    display: flex;
    justify-content: space-between;
}
.card-style {
    box-shadow: gainsboro 0px 0px 3px 3px;
    margin-top: 1%;
}